h1 {
  text-align: center;
}
.resultbButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.MuiFormGroup-root {
  text-align: center;
}

.MuiFormControlLabel-root {
  display: inline-block;
  width: auto;
  margin-left: 30%;
}
