h1 {
  text-align: center;
}
.resultbButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.QuestionSlide > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
